.budgetcontent-container{
    padding-left: 15%;
}
.budgetcontent-wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 97%;
}
.content-column1{
    flex-basis: 30%;
}
.content-column2{
    flex-basis: 50%;
}