.header-container{
    padding-left: 15% ;
    padding-top: 20px; 
    width: 100%;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%; 
}
.header-container select{
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 6px;
}
.header-wrapper p{
    font-size: 18px;
    font-weight: 600;
    color: #119f45;

}