.budgetfolder-container{
    background: #fff;
    padding: 20px;
}
.budgetfolder-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.budgetfolder-heading a{
    color: #119f45;
}
.budgetfolder-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}